#jour{
    color:#a1c0dd;
}
.title {
    font-size: 50px;
    color:  #aed8ff;
    margin: 0%;
    border: 0;
    display: flex;
    flex-direction: column;
    text-align: center;

  }
.title h2 {
    margin-top: 200px;
    padding:0%;
    margin-bottom: 0px;
}
.link h2{
    color: white;
    font-size: 30px;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
button{
    color: white;
    background-color: #7f9ba6;
    border: #a1c0dd dotted 3px;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}
.link{
    align-items: center;
    width: 100%;
}