body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #264652;
    font-family: Arial, sans-serif;
  }
  
  .header {
    text-align: center;
  }
  
  .title {
    font-size: 4em;
    color: #dc0f8a;
  }
