
.title {
    font-size: 50px;
    color:  #aed8ff;
    margin: 0%;
    border: 0;
    display: flex;
    flex-direction: column;
    text-align: center;

  }
.title h2 {
    margin-top: 200px;
    padding:0%;
    margin-bottom: 0px;
}
.title h3{
    font-size: 30px; 
    color: #aed8ff;
    text-decoration: none;
}
.title a{
    color: #aed8ff;
}
.title a:hover{
    color: #89aed0;
}
body {
    justify-content:flex-start;
    flex-direction: column;
    display: flex;
}

p {
    color: white;
}
.header{
    background-color: #264653; 
    border: 30px solid #264652;
    padding-bottom: 80px;
  }
  #onpage{
        color:#a1c0dd;
  }
  .paragraph{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 35px;
  }
  .homepage{
    height: 150px;
    width: auto;
  }